.lesson {
  max-width: 1050px;
  margin: 80px auto;
}
.lesson h1 {
  font-weight: 700;
  font-size: 35px;
  line-height: 39px;
  text-align: center;
  margin-bottom: 26px;
}
.lesson p {
  font-size: 16px;
  line-height: 24px;
}

.lesson p code {
  background: #f3f4f6;
  color: #05477d;
  white-space: pre;
}

.btn {
  display: flex;
  justify-content: space-between;
}

.btn button {
  outline: none;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.1em;
  height: 40px;

  margin: 20px 0;
}
.nav {
  background: #1c86ca;
  color: #ffffff;
  border: none;
  width: 120px;
}
