.assignListTeacher {
    max-width: 900px;
    margin: 0 auto;
    padding: 50px 0;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item {
    border: 1px solid #f0f0f0;
    margin-bottom: 10px;
    display: flex;
    align-items: center !important;
    justify-content: space-between;
}

.item .itemWrapper {
    flex-grow: 1;
}

.item .icon {
    font-size: 24px;
    cursor: pointer;
}