.filter li {
    list-style-type: none;
}

.filter ul {
    margin-left: 0;
    padding-left: 0;
}

.filter button {
    background-color: transparent;
    /* margin-top: 5px; */
    cursor: pointer;
    border: none;
    outline: none;
}