.descriptionWrapper {
  width: 50%;
  background-color: #0f2940;
  color: #eef0f2;
}

.title,
.description,
.testsName {
  font-family: 'Inter';
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.1em;
  margin-top: 58px;
  width: 70%;
  line-height: 24px;
}

.title {
  font-size: 20px;
  color: #eef0f2;
}

.title > div > ul > li,
.title > div > h3 {
  background-color: #173a59 !important;
}

.description {
  font-weight: 400;
}

.text {
  margin-left: 77px;
}

.test {
  background: #173a59;
  border-radius: 2px;
  width: 490px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
}

.test > ul,
.test ul > li {
  background-color: #173a59 !important;
  height: 14px !important;
  margin-top: 10px !important;
  width: 33% !important;
}

.testsName {
  margin-bottom: 11px;
}

.test div {
  padding-left: 18px;
}

.tests {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}

.arrow {
  margin-top: 23px;
  margin-left: 15px;
}

.arrow a {
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.arrow img {
  margin-right: 5px;
}

.input,
.output {
  font-weight: 400;
}

.input span,
.output span {
  font-weight: 600;
}
